@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Karla", sans-serif !important;
  padding: 0;
  margin: 0;
  background-color: rgba(245, 245, 245);
  color: #303030;
}

textarea{
  font-family: "Karla", sans-serif;
  background-color: #ffffff;
  border: 1px solid #c9cacc;
  color: #303030;
  font-size: 18px;
}

textarea::placeholder{
  color: #0000003e;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.header_1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.header_1 p {
  text-transform: uppercase;
  font-size: 16px;
}

nav {
  background-color: #0083bf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}

.main {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 2rem auto;
  gap: 30px;
}

.sponsor-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.sponsor-block img {
  width: 100%;
}

.right-column {
  width: 30%;
}

.title {
  font-size: 28px;
  letter-spacing: -0.96px;
  margin: 0 0 1rem 0;
}

.sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #0083bf;
  letter-spacing: -0.96px;
  margin: 0 0 2rem 0;
}

article {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 10px;
  padding-right: 10px;
  transition: all 0.2s linear;
}

.article-body {
  flex: 1;
  min-width: 0; /* or some value */
}

.article-body p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.604);
}

article .article-img {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

article h2 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.96px;
}

article .location-box {
  background-color: #0083bf;
  padding: 4px 10px;
  width: fit-content;
  text-transform: capitalize;
  margin-top: 0;
  color: white;
}

article .date {
  color: #303030;
}

.article-link {
  text-decoration: none;
  color: #303030;
}

article:hover {
  background-color: #0083bf4c;
  cursor: pointer;
}

.weather-widget {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.weather-widget .section-1,
.section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.section-2 {
  margin-top: 1rem;
  justify-content: flex-start;
  gap: 30px;
}

[data-time="0"] {
  background: linear-gradient(#0a142c, #070910);
  color: white;
}

[data-time="1"] {
  background: linear-gradient(#1f8bba, #6eb8dc);
  color: white;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programming-widget {
  background-color: white;
  padding: 20px;
  display: flex;
  border: 1px solid #E4E4E4;
  flex-direction: column;
  align-items: flex-start;
}

.programming-box {
  width: 100%;
  background-color: white;
  border: 1px solid #c9cacc;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.programming-date {
  min-width: 96px;
  padding: 4px;
  background-color: #f0f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programming-date p {
  font-size: 14px;
  text-align: center;
}

.programming-event {
  margin-left: 1rem;
  padding-right: 4px;
}

.news-article {
  background-color: #ffffff;
  padding: 40px 20px;
  white-space: pre-line;
  font-size: 18px;
  border: 1px solid #E4E4E4;
  line-height: 1.54;
}

.news-article img {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
}

.social-share-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-top: 1px solid #E4E4E4;
  padding-top: 20px;
  margin-top: 2rem;
}

.social-share-btn {
  width: 32px;
  aspect-ratio: 1;
}

.news-block-widget {
  display: flex;
  flex-direction: column;
}

.news-block{
  background-color: white;
  padding: 20px;
  border: 1px solid #E4E4E4;
}

.article-widget {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  transition: all 0.2s linear;
}

.article-widget img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-widget .article-body h2 {
  font-size: 18px;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dashboard-link {
  color: #303030;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #c9cacc;
  font-size: 20px;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  transition: all 0.2s linear;
}

.dashboard-link:hover {
  background-color: #0083bf2a;
}

.dashboard-icon {
  width: 64px;
  aspect-ratio: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
  padding: 10px;
  margin-bottom: 6rem;
}

.input-box{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

form{
  width: 80%;
}

input{
  padding: 10px;
  font-size: 18px;
  border: 1px solid #c9cacc;
}

input::placeholder{
  color: #0000003e;
}

.label-title{
  font-size: 26px;
  font-weight: 700;
  color: #0083bf;
  letter-spacing: -0.96px;
  margin: 1rem 0 4px 0;
}

 form button{
  background: white;
  border: none;
  border: 1px solid #0083bf;
  color: #0083bf;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  cursor: pointer;
}

.img-upload-btn{
  background: #0083bf;
  border: none;
  border: 1px solid white;
  color: white;
  padding: 8px 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

button{
  background: none;
	color: inherit;
	border: none;
  border: 1px solid #c9cacc;
	padding: 0 40px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  transition: all 0.2s linear;
}

button:hover{
  background-color: white;
}

.rsw-editor{
  background-color: white;
}

.page-btns-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem 0 0 0;
  gap: 20px;
}

.page-btn{
  border-radius: 100px;
  padding: 0px 20px;
  border: 1px solid #E4E4E4;
}

.page-btn:hover{
  background-color: #0083bf;
  color: white;
}